<div class="w-100 d-flex flex-column justify-content-center align-items-center round-shadow-sm plastic border-light">
    <table class="w-75 changing-line-height">
      <tbody>
        <tr>
           <th class="w-1fr"><span id="littlefont" class="text-center">Quality</span></th>
           <th class="w-2fr"><span id="littlefont" class="text-center">Club Names</span></th>
           <th class="w-1fr"><span id="littlefont" class="text-center">Avg.</span></th>
        </tr>
      </tbody>
   </table>
    <table class="w-75 green-screen changing-line-height text-center border-light">
        <tbody>
            <tr *ngFor="let row of displayedRows()">
               <th class="w-1fr"><span>{{ row.quality }}</span></th>
               <th class="w-2fr"><span>{{ row.name }}</span></th>
               <th class="w-1fr"><span>{{ row.avg }}</span></th>
            </tr>
        </tbody>
    </table>
    <span class="changing-line-height" *ngIf="bestClub()">The best club of this league is {{ bestClub() }}</span>
    <span class="changing-line-height" *ngIf="!bestClub()">No clubs available in this league</span>
   </div>
